	.mytitle
	   { background-color: white;
        background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
        background-size: cover;
        background-position: center;
        color: white ;
        width: 300px;
        height: 200px;
        border-radius: 10px;
        text-align: center; 	
        font-family: 'Cute Font', cursive;
    }